#botaoMode{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--cor-detalhes);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-fundo);
}

.corpoContainer{
    height: 95vh;
    width: 100vw;
    padding: 4rem;
    background-color: var(--cor-fundo);
}