#botaoMode{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--cor-detalhes);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-fundo);
}

.corpoContainer{
    height: 95vh;
    width: 100vw;
    padding: 4rem;
    background-color: var(--cor-fundo);
}

.corpoConteudo{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.blocoQuiz{
    height: 20rem;
    width: 15rem;
    margin: 1rem;
    background-color: var(--cor-detalhes);
    box-shadow: var(--cor-escura) 8px 8px;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blocoQuiz:hover{
    scale: 1.05;
    transition: all 0.1s ease-in-out;
}