.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.bodyEntrarSala{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 35vw;
    background-color: var(--cor-principal);
    box-shadow: var(--cor-detalhes) 8px 8px;
    border-radius: 30px;
}

.inputContainer{
    display: flex;
    all: unset;
    height: 10vh;
    width: 22vw;
    background-color: var(--cor-fundo);
    box-shadow: var(--cor-detalhes) 8px 8px;
    border-radius: 8px;
    text-indent: 16px;
}

.entrarSalaContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.BotaoEntrarSalaContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;

}

.botaoEntrarSala{
  all: unset;
  height: 50px;
  background-color: var(--cor-detalhes);
  border-radius: 8px;
  display: flex;
  align-items: center;
  color: var(--cor-fundo);
  cursor: pointer;
  gap: 6px;
  width: 220px;
  justify-content: center;
  border-radius: 80px;
}