*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
}

input{
    all: unset;
    height: var(--input-altura);
    width: var(--input-largura);
    background-color: var(--cor-fundo);
    box-shadow: var(--cor-detalhes) 8px 8px;
    border-radius: 8px;
    text-indent: 16px;
}

button{
    all: unset;
    height: 50px;
    width: 122px;
    background-color: var(--cor-detalhes);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-fundo);
    cursor: pointer;
    gap: 6px;
}

::placeholder{
    color: var(--cor-detalhes);
}

h1{
    color: var(--cor-fundo);
}

.toogle {
 --switch_width: 56px;
 --switch_height: 28px;
 font-size: 17px;
 position: relative;
 display: inline-block;
 width: var(--switch_width);
 height: var(--switch_height);
}

.toogle input {
 opacity: 0;
 width: 0;
 height: 0;
}

.sliderBar {
 box-sizing: border-box;
 border: 2px solid var(--cor-escura);
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: var(--cor-principal);
 transition: .15s;
 border-radius: var(--switch_height);
}

.sliderBar:before {
 box-sizing: border-box;
 position: absolute;
 content: "";
 height: var(--switch_height);
 width: var(--switch_height);
 border: 2px solid var(--cor-escura);
 border-radius: 100%;
 left: -2px;
 bottom: -2px;
 background-color: var(--cor-fundo);
 transform: translateY(-0.2em);
 box-shadow: 0 0.2em 0 var(--cor-detalhes);
 transition: .15s;
}

input:checked + .sliderBar {
 background-color: var(--cor-detalhes);
}

input:focus-visible + .sliderBar {
 box-shadow: 0 0 0 2px var(--track_active_color);
}

input:hover + .sliderBar:before {
 transform: translateY(-0.3em);
 box-shadow: 0 0.3em 0 var(--outline_color);
}

input:checked + .sliderBar:before {
 transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
}

input:hover:checked + .sliderBar:before {
 transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
 box-shadow: 0 0.3em 0 var(--outline_color);
}